.sideBar {
    position: fixed;
    top: 0;
    left: 0;
    margin: 2rem 0 0 1rem;
    width: 4rem;
    height: 90vh;
    padding: 1rem 0;
    background:  rgba(255, 255, 255, 0.3);
    border-radius: 50px;
    backdrop-filter: blur(10px);
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start; /* alinhamento à esquerda */
    padding-left: 0.1rem; /* leve recuo */
    transition: width 0.4s ease;
    overflow: hidden;
    
}

.sideBar:hover {
    width: 12rem; 
    align-items: flex-start;
    padding-left: 1rem;
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.25);
}

.containerSide {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
}

.sideBar:hover .containerSide {
    align-items: flex-start;
}

.topicoSide {
    margin: 1rem 0;
}

.rotaSide {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 100%;
    color: white;
    text-decoration: none;
    font-size: 1rem;
    border-radius: 50px;
    padding: 0.5rem 1rem;
    background-color: transparent;
    transition: all 0.3s ease;
    white-space: nowrap;
}

.rotaSide img {
    width: 28px;
    height: 28px;
    transition: all 0.3s ease;
}

/* texto some quando a sidebar está fechada */
.rotaSide span {
    opacity: 0;
    transition: opacity 0.3s ease;
}

/* mostra o texto ao expandir */
.sideBar:hover .rotaSide span {
    opacity: 1;
}

.rotaSide:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

/* icone ativo */
.rotaSide.active {
    background-color: white;
    color: black;
}

/*logo no topo */
.topicoSide:first-child .rotaSide {
    background-color: transparent;
    margin-bottom: 1rem;
}

/* logout no final */
.topicoSide:last-child {
    margin-top: auto;
}

.FlogoSide {
    width: 300px;
}

.logoSide {
    width: 50px;
}