.footerContainer {
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    border-radius: 30px; 
    padding: 3rem 0 1.5rem;
    display: flex;
    margin: auto;
    flex-direction: column;
    align-items: center;
    width: 70%;
    margin-top: auto;
}

.footerNav {
    display: flex;
    gap: 3rem;
    margin-bottom: 2rem;
}

.footerLink {
    color: #f0f0f0; 
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 500;
    transition: color 0.3s;
    transition: all 0.3s ease;
}

.footerLink:hover {
    background-color: rgba(255, 255, 255, 0.3);
    transform: scale(1.1);
    border-radius: 18px;
    padding: 0.5rem;
} 

.redesSociais {
    display: flex;
    gap: 1.5rem;
    margin-bottom: 2rem;
}

.redesSociais  div {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, #CC2985, #DD6F6C, #EDB553); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.redesSociais img {
    width: 60%; 
    height: 60%;
}


.footerCopy {
    color: #aaa; 
    font-size: 0.85rem;
    text-align: center;
}