.secaoListaFilmes {
    padding: 20px 5vw; 
    margin-bottom: 40px;
}

.secaoListaFilmes .tituloSecao {
    color: #FFF; 
    font-size: 24px;
    margin-bottom: 25px;
    font-weight: 700;
}


.filmesGridContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); 
    gap: 30px; 
    justify-items: center; 
}
