.inputContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  width: 500px;
  background-color: #333; /* Fundo da caixa */
  box-shadow: 0 0 25px 5px rgba(204, 41, 133, 0.5);
  border-radius: 50px; /* Bordas arredondadas no contêiner */
  background: linear-gradient(to bottom, #CC2985, #C05660);
}

.inputContainer::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 50px; /* Borda arredondada do pseudo-elemento */
  z-index: -1; /* Coloca o pseudo-elemento atrás do conteúdo */
  padding: 4px; /* Ajusta o espaço entre a borda e o conteúdo */
}

.mensagemInput {
  font-family: 'Montserrat', sans-serif;
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 30px; /* Bordas arredondadas no input */
  font-size: 16px;
  outline: none;
  background-color: #333;
  color: white;
  margin-right: 10px;
}

.mensagemInput::placeholder {
  color: #aaa;
}


