.inputContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  width: 500px;
  background-color: #333; 
  box-shadow: 0 0 25px 5px rgba(0, 0, 0, 0.5);
  background: linear-gradient(#333, #333) padding-box,
              linear-gradient(to right, #CC2985, #EDB553) border-box;
  border-radius: 50px;
  border: 4px solid transparent;
}

.mensagemInput {
  font-family: 'Montserrat', sans-serif;
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 30px; 
  font-size: 16px;
  outline: none;
  background-color: #333;
  color: white;
  margin-right: 10px;
}

.mensagemInput::placeholder {
  color: #aaa;
}


