.containerNotificacao {
    background-color: rgba(255, 255, 255, 0.3); 
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.3);
    padding: 6px;
    position: absolute;
    border-radius: 50%;
    text-align: center;
    
    justify-content: center;
    top: 0;
    right: 0;
    margin-right: 14.8rem;
    margin-top: 1.5rem;
}

.iconeNotificacao {
    width: 50px;
    height: 50px;
    background-color: #FFF;
    padding: 0.5rem;
    border-radius: 50%;
    justify-content: center;
    width: 50px;
    height: 50px;
}