.carrosselContainer {
  margin: 1rem 0;
  place-items: center;
  display: grid; /* place-items só funciona em grid */
}

.carrosselContainer h2 {
  justify-self: start; /* força o título a ficar alinhado à esquerda */
  text-align: start;
  color: white;
  margin-bottom: 0.5rem;
  padding-left: 10rem;
  margin-bottom: 1rem;
}


.carrosselFilmes {
  display: flex;
  overflow-x: auto;
  gap: 1rem;
  scroll-behavior: smooth;
  padding-bottom: 1rem;
}

.carrosselFilmes::-webkit-scrollbar {
  height: 8px;
}

.carrosselFilmes::-webkit-scrollbar-thumb {
  background: #444;
  border-radius: 4px;
}
