.navBar {
    margin: auto;
    margin-top: 1.5rem;
    background-color: rgba(255, 255, 255, 0.3);
    width: 26.3rem;
    padding: 0.5rem 2rem;
    border-radius: 50px;
    font-size: 20px;
    backdrop-filter: blur(10px);
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.25);

}

.containerNav {
    display: flex;
    list-style: none;
    gap: 2.5rem;
}

.topicoNav {
    justify-content: center;
    margin: auto;
}

.rotaNav, .rotaNavLupa {
    text-decoration: none;
    color: #FFF;
}

.iconeLupa {
    background-color: #FFF;
    padding: 9px;
    border-radius: 50%;
}

.rotaNav:hover {
    background-color: rgba(255, 255, 255, 0.3);
    transform: scale(1.1);
    border-radius: 50px;
    padding: 0.4rem;
    transition: all 0.3s ease;
}

.navBar:hover {
    width: 27rem;
    transition: all 0.3s ease;
}
