.carrosselContainerSobre {
  display: flex;
  gap: 1rem;
  width: 100%;
  max-width: 500px;
  margin: 2rem auto;
  cursor: pointer;
}

.carrosselImagem {
  border-radius: 50px;
  object-fit: cover;
  height: 450px;
  flex-shrink: 0;
  flex: 1;
  min-width: 70px; 
  transition: all 0.4s ease;
  filter: none;
  transition: ease 1s;
}

.carrosselImagem.hovered {
  flex: 3;
  filter: none;
}

.carrosselImagem.small {
  flex: 0.5;
  filter: brightness(0.7);
}
