.userInfoContainer {
    display: flex;
    align-items: center;
    color: white;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.3);
    width: fit-content;
    border-radius: 50px;
    padding: 0.2rem 1rem;
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 1.5rem;
    margin-right: 3rem;
}

.userIcone {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 6px;
    margin-left: -0.6rem;
}

.iconePerfil {
    font-size: 30px;
}

.userDetalhes {
    border-radius: 25px;
    padding: 8px 15px;
}

.userNome {
    font-size: 1.1em;
    font-weight: 600;
    margin: 0;
    line-height: 1.2; 
}

.userTipo {
    font-size: 0.9em;
    font-weight: 400;
    margin: 0;
}