* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  background-color: #000000;
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  background-image: url('./assets/images/fundo-sobrenos.svg');
  background-size: cover;
  background-repeat: no-repeat;
}

main {
  padding-left: 5rem; 
  padding-right: 2rem;
}


.appLayout {
  display: flex;
  height: 100vh;
}

.conteudo {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.pagina {
  flex: 1;
  padding: 1rem;
}
