.backgroundContato {
    background-image: url('../../assets//images/fundo-contato.svg');
    background-size: cover; /* Faz a imagem cobrir toda a área */
    background-position: center; /* Centraliza a imagem no fundo */
    background-repeat: no-repeat; /* Garante que a imagem não repita */

}

.contato {
    position: relative;
    display: flex;
    text-align: start;
    width: 868px;
    align-items: center;
    height: 407.15px;
    background-color: #000;
    padding: 2rem;
    margin-top: 14rem;
    margin-bottom: 5rem;
    background: linear-gradient(black, black) padding-box,
              linear-gradient(to right, #CC2985, #EDB553) border-box;
  border-radius: 50px;
  border: 4px solid transparent;
}


.informacoesContato h2 {
    font-size: 40px;
    margin-top: 1rem;
}

.informacoesContato p {
    font-size: 24px;
    margin-top: 1.5rem;
    margin-bottom: 4rem;
}

.mockupContato {
    margin-bottom: -1.3rem;
}