.backgroundContato {
    background-image: url('../../assets//images/fundo-contato.svg');
    background-size: cover; /* Faz a imagem cobrir toda a área */
    background-position: center; /* Centraliza a imagem no fundo */
    background-repeat: no-repeat; /* Garante que a imagem não repita */

}

.contato {
    position: relative;
    display: flex;
    text-align: start;
    width: 868px;
    height: 407.15px;
    background-color: #000;
    margin-top: 14rem;
    margin-bottom: 5rem;
    
}

.informacoesContato h2 {
    font-size: 40px;
    margin-top: 2rem;
}

.informacoesContato p {
    font-size: 24px;
    margin-top: 1.5rem;
    margin-bottom: 4rem;
}