
.filtroGenero {
    display: flex;
    align-items: center;
    gap: 8px; 
    padding: 10px 18px;
    border-radius: 8px;
    cursor: pointer;
    user-select: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    white-space: nowrap;
    transition: background-color 0.2s, color 0.2s;
    background-color: #494949; 
    color: #f0f0f0; 
    border: 1px solid transparent;
    max-width: fit-content;
}

.filtroGenero:hover {
    background-color: #5e5e5e; 
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.1); 
}

.filtroGenero.selected {
    background: linear-gradient(90deg, #CE3B92 0%, #D85C77 50%, #E9A45B 100%);
    color: #ffffff; 
}

.filtroGenero.selected:hover {
    background: linear-gradient(90deg, #aa317a 0%, #b24c62 50%, #b27d44 100%);
}

.deselectBotao {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    font-size: 1.5em;
    line-height: 1;
    margin-left: 10px;
    color: inherit; 
    opacity: 0; 
    transition: opacity 0.2s, transform 0.2s;
    transform: scale(0.9);
}

.filtroGenero.selected:hover .deselectBotao {
    opacity: 1; 
    transform: scale(1); 
}

.filtroGenero.selected:hover .iconeFiltroGenero {
    opacity: 0;
    width: 0;
    overflow: hidden;
    transition: all 0.2s;
    margin-left: 0.5rem;
}
.filtroGenero.selected:hover .textoFiltroGenero {
    margin-left: -24px;
    transition: margin-left 0.2s;
}